.product-manager {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @media (min-width: 990px) {
        padding: 20px 10%;
    }
    .buttons-ctn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .btn-add {
            background-color: #000;
            color: #fff !important;
            padding: 10px 30px;
            &:hover {
                background-color: #333;
            }
        }
    }
    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 40px;
    }

    .table-ctn {
        border-radius: 10px;
        .product-table {
            width: 100%;
            border-collapse: collapse;
            background: white;
            overflow: hidden;

            th,
            td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
                text-align: left;
            }

            th {
                background-color: #000;
                color: white;
            }

            img {
                width: 70px;
                height: 70px !important;
                object-fit: cover;
                height: auto;
                border-radius: 5px;
            }
            button.btn {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                min-width: 110px;
                max-width: 110px;
            }
        }
    }

    @media (max-width: 990px) {
        .desktop-only {
            display: none;
        }
    }
}

.product-edit {
    .btn-volver {
        margin: 2em 0 0 2em;
        background-color: #000;
        border-radius: 0px !important;
        &:hover {
            background-color: #343434;
        }
        @media (min-width: 1400px) {
            margin: 2em 0 0 100px;
        }
    }
    .buttons-ctn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2em 20px 0;
        @media (min-width: 1400px) {
            padding: 20px 100px 20px 0;
        }
        .btn-add {
            background-color: #000;
            color: #fff !important;
            padding: 10px 30px;
            &:hover {
                background-color: #333;
            }
        }
    }
    .product-detail.admin {
        @media (min-width: 990px) {
            padding: 2em !important;
        }
        @media (min-width: 1400px) {
            padding: 2em 100px !important;
        }
        .product-detail-data {
            @media (min-width: 990px) {
                padding: 0px;
            }
        }
        .imagenes-ctn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            @media (min-width: 990px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .contenedor-precio-stock {
            display: flex;
            flex-wrap: wrap;
            @media (min-width: 990px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 10px;
            }
        }
    }
}

.product-add {
    .buttons-ctn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px 2em 0 2em;
        h3 {
            margin-top: 20px;
        }
        @media (min-width: 1400px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 30px 100px;
            h3 {
                margin: 0;
            }
        }
        .btn-volver {
            background-color: #000;
            border-radius: 0px !important;
            &:hover {
                background-color: #343434;
            }
        }
    }
    .btn-add {
        background-color: #007054;
        color: #fff !important;
        padding: 10px 30px;
        transition: 0.3s;
        &:hover {
            background-color: #004332;
            background-color: #d06100;
        }
        &.only-mobile{
            display: inline-block;
        }
        &.only-desktop{
            display: none;
        }
        @media (min-width: 990px) {
            &.only-mobile{
                display: none;
            }
            &.only-desktop{
                display: inline-block;
            }
        }
    }
    .product-detail.admin {
        select,
        input,
        textarea {
            border: 1px solid #bbb;
        }
        @media (min-width: 990px) {
            padding: 2em !important;
            font-size: 1.1em;
            input,
            select,
            p {
                font-size: 1.1em;
            }
        }
        @media (min-width: 1400px) {
            padding: 2em 100px !important;
        }
        .product-detail-data {
            @media (min-width: 990px) {
                padding: 0px;
            }
        }
        .imagenes-ctn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            @media (min-width: 990px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .contenedor-precio-stock {
            display: flex;
            flex-wrap: wrap;
            @media (min-width: 990px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 10px;
            }
        }
    }
}
