.hidden-scrollbar {
    overflow: auto; /* Permite el desplazamiento */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome, Edge y Safari */
}

.categoriaActiva{
    background-color: #1b1a1a !important;
    color: white;
}
.categoriaActiva::before{
    content: '+';
    display: inline-block;
    margin-right: 10px;
    transform: rotate(45deg);
}