.carousel {
    .carousel-inner {
        background-color: black;
        
    }
    @media (max-width: 990px) {
        
    }
    @media (min-width: 990px) {
        .carousel-inner {
            max-height: 450px !important;
            min-height: 450px !important;
            background-color: black;
            img{
                max-height: 450px !important;
                min-height: 450px !important;
            }
        }
        
    }
}
